<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Message</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="card">
    <h2>Create New message</h2>
    <form action="/create-message" method="POST" >
      <label for="title">Title</label>
      <input id="title" name="title" type="title" />
      <br>
      <label for="message">Message</label>
      <textarea name="message" id="message" rows="5" cols="50"></textarea>
      <br>
      <button>Submit message</button>
    </form>
  </div>
</body>
</html>
