<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="card">
    <h2>Login</h2>
    <form action="/log-in" method="post" >
      <label for="email">Email</label>
      <input id="email" name="email" placeholder="" type="email" />

      <label for="password">Password</label>
      <input id="password" name="password" type="password" />

      <button>Log In</button>
    </form>
    <p>Don't have an account? Sign Up <a href="/sign-up">here</a></p>
  </div>
</body>
</html>
